---
title: "Sobre Nosotros" // Puedes personalizar el título
layout: "../layouts/BaseLayout.astro" // Usa el layout que prefieras
---

<section class="about-container">
  <header>
    <h1 class="text-4xl font-bold text-gray-800">Sobre Nosotros</h1>
  </header>

  <article>
    <p class="mt-4 text-xl text-gray-600">
      Bienvenidos a nuestro blog, donde compartimos las ultimas noticias y articulos sobre el mundo del motor. 
      Nuestro equipo está compuesto por entusiastas de los coches y la tecnología, dedicados a brindar contenido de alta calidad.
    </p>

    <p class="mt-4 text-xl text-gray-600">
      En este espacio, exploramos desde los últimos lanzamientos de autos hasta innovaciones tecnológicas en la industria automotriz.
    </p>

    <h2 class="mt-6 text-3xl font-semibold">Nuestro Mision</h2>
    <p class="mt-4 text-xl text-gray-600">
      Nuestro objetivo es mantener a nuestros lectores informados con contenido actualizado, relevante y preciso.
    </p>

    <h2 class="mt-6 text-3xl font-semibold">Contacta con Nosotros</h2>
    <p class="mt-4 text-xl text-gray-600">
      Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto con nosotros a traves de nuestro formulario de contacto.
    </p>
  </article>
</section>

<style>
  .about-container {
    padding: 20px;
    background-color: #f9f9f9;
  }

  header h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  article p {
    text-align: justify;
  }
</style>
