---
import PostList from '../components/PostList.jsx';
import { posts } from '../lib/posts.json';


---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Coches Eléctricos</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <header>
      <h1>Blog de Coches Eléctricos</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <PostList posts={Object.values(posts)} />
    </main>
  </body>
</html>
